.btn--black {
    color: $color-white;
    background-color: $color-black;
    padding: $pd-1 $pd-2;
    letter-spacing: $ls-0;
    font-weight: $fw-3;
    &:hover {
        background-color: $color-yellow;
        box-shadow: 0 0 0 10px #fff;
    }
}

.btn--white {
    color: $color-black;
    background-color: $color-white;
    padding: $pd-1 $pd-2;
    letter-spacing: $ls-0;
    font-weight: $fw-3;
    &:hover {
        background-color: $color-black;
        box-shadow: 0 0 0 10px #fff;
        color: white;
    }
}