.about {
  margin-top: $mg-6;
  @include reponds-to('large') {
    margin-top: $mg-0 - 90;
  }
  .about__heading {
    h3 {
      letter-spacing: $ls-0;
    }
    p {
      letter-spacing: $ls-0;
      width: 60%;
      margin: $mg-5 auto;
      color: $color-gray;
      @include reponds-to('large') {
        width: 72%;
      }
      @include reponds-to('medium') {
        width: 78%;
      }
    }
  }
  .about__content {
    margin-top: $mg-6 - 10;
    .about__item {
      @include border-style(1px, solid, $color-gray-1, 5px);
      margin: 0 $mg-2;
      padding: $pd-6 - 40 $pd-4 $pd-5 $pd-5;
      position: relative;
      &:hover {
        i {
          background-color: $color-yellow;
        }
      }

      i {
        background-color: #222222;
        color: $color-white;
        width: 60px;
        height: 60px;
        border-radius: 4px;
        text-align: center;
        line-height: 60px;
        box-shadow: 0 0 0 10px #fff;
        font-size: 30px;
        position: absolute;
        top: -30px;
        left: 30px;
        transition: all 0.4s;
      }

      h4 {
        @include text-style($fs-0 + 3, $fw-4, $color-black, 1px);
        margin-bottom: $mg-4;
      }

      p {
        color: $color-gray;
        letter-spacing: 1px;
      }
      @include reponds-to('large') {
        margin: $mg-5 0;
      }
    }
  }
}
