.footer {
  background-color: #f5f5f5;
  padding: $pd-6 - 20 0;
  margin-top: $mg-6;
  .footer__heading {
    .footer__logo {
      h6 {
        margin-top: $mg-5;
        @include text-style($fs-1, $fw-4, $color-black, 1.5px);
      }
    }
  }
  .footer__socials {
    margin: $mg-6 0;
    i {
      width: 40px;
      height: 40px;
      border: 1px solid $color-black;
      margin: $mg-2;
      line-height: 40px;
      border-radius: 50%;
      font-size: 18px;
      transition: all 0.5s;
      cursor: pointer;
      &:hover {
        color: $color-white;
        background-color: $color-black;
      }
    }
  }
  .footer__copyright {
    span {
      @include text-style($fs-1, $fw-4, $color-black, 1.5px);
    }
  }
}
