// font-size variables
$fs-0: 15px; //defaut
$fs-1: 13px;
$fs-2: 14px;

// font-weight variables
$fw-2: 200;
$fw-3: 300;
$fw-4: 400; //defaut
$fw-6: 600;
$fw-7: 700;

// color variables
$color-black: #333;
$color-gray: #7e7e7e;
$color-gray-1: #e9e9e9;
$color-white: #fff;
$color-yellow:#d6b161; 

// padding variables
$pd-0: 5px;
$pd-1: 7px; 
$pd-2: 10px;
$pd-3: 15px;
$pd-4: 20px;
$pd-5: 30px;
$pd-6: 100px;

// margin variables
$mg-0: 5px;
$mg-1: 7px; 
$mg-2: 10px;
$mg-3: 15px;
$mg-4: 20px;
$mg-5: 30px;
$mg-6: 100px;

// letter-spacing variable
$ls-0: 1px;

//break points
$breakpoints:(
    'extra-large': 1200px,
    'large' : 991px,
    'mid-large' : 840px,
    'medium' : 768px,
    'mid-medium' : 680px,
    'small' : 576px,
)